<h1><% if !@user %>
       Listing forums
    <% else %>
       <%= @user.vname %>'s forums
    <% end %>
</h1>

<table>
<% @forums.each do |forum| %>
   <tr>
      <td><%= link_to forum.name, user_forum_path(forum.user.vname, forum) %></td>
   </tr>
   <tr>
      <td><%= forum.description %></td>
   </tr>
   <% if !@user %>
      <tr>
         <td><%= forum.user.vname %></td>
      </tr>
   <% end %>
<% end %>
</table>
