<h1>Listing inventories</h1>

<table>
  <tr>
    <th>User</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventories.each do |inventory| %>
  <%# if inventory.id not in equips %>
  <tr>
    <td><%= inventory.user_id %></td>
    <td><%= inventory.item_id %></td>
    <td><%#= link_to 'Show', inventory %></td>
    <td><%#= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy', [@user, inventory], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td>
<%# @user.petowners.each do |petowner| %>
    <% if !current_user.nil? %>
       <% @user.petowners.each do |petowner| %>
          <%= link_to 'Equip', new_petowner_equip_path(petowner, :inventory_id =>inventory.id) %>
       <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Inventory', new_inventory_path %>
