<h1 class="pageheader">Inventory list</h1>

<table>
   <tr>
      <th>Item id</th>
      <th>User id</th>
      <th>Equipped</th>
      <th></th>
   </tr>
<% @inventories.each do |inventory| %>
   <tr>
      <td><%= inventory.item_id %></td>
      <td><%= inventory.user_id %></td>
      <td><%= inventory.equipped %></td>
      <td><%= button_to 'Destroy', [inventory.user, inventory], method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
<% end %>
</table>
