<% provide(:title, "Suggestion: The place that holds all the users suggestions!") %>
<% provide(:description, "A listing of all the suggestions created for the admin to view.") %>
<h1 class="pageheader">Listing suggestions</h1>
<br>
<div class="pagebox"><%= paginate @suggestions %></div>
<br>
<div class="pagetext">
   <table>
      <tr>
         <th>Name</th>
         <th>Description</th>
         <th></th>
      </tr>
      <% @suggestions.each do |suggestion| %>
         <tr>
            <td><%= link_to suggestion.name, user_path(suggestion.name) %></td>
            <td><%= suggestion.description %></td>
            <td><%= button_to 'Destroy', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      <% end %>
   </table>
</div>
