<h1>Listing tcontainers</h1>

<table>
  <tr>
    <th>Forum id</th>
    <th>TContainer id</th>
    <th></th>
    <th></th>
  </tr>

<% @tcontainers.each do |tcontainer| %>
  <tr>
     <td><%= tcontainer.forum_id %></td>
     <td><%= tcontainer.id %></td>
     <td><%= button_to 'Edit', edit_forum_tcontainer_path(tcontainer.forum, tcontainer), method: :get %></td>
     <td><%= button_to 'Destroy', [tcontainer.forum, tcontainer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
