<h1 class="pageheader">
   <% if getOptional %>
      <%= @petowner.pet_name %>'s equipment
   <% else %>
      Listing equips
   <% end %>
</h1>
<br>
<div class="pagebox"><%= paginate @equips %></div>
<br>
<%= render 'equipinfo' %>
