<h1 class="pageheader">Pet Equipment</h1>

<!--Checks to see if any pets are available -->
<%# if @count > 0 %>
   <!--Checks if the current user is signed in -->
   <% if !current_user.nil? %>
      <%= render 'equipinfo' %>
   <% else %>
      <%= render 'equipinfo' %>
   <% end %>
<%# end %>
