<!--<p>Welcome to my new pet website that I created. I have been working on this for quite some time.
I hope you all will enjoy this site.</p>-->

<body bgcolor="#E6E6FA">

<h1 class="welcome">Welcome to the Dueling Pets Home Page! </h1>
<br>
<p>At Dueling Pets, we offer users of our site the ability to not only join in pet vs monster fights, but to also have a chance to exercise their creativity when it comes to creating a pet or monster.  Now for some of you, creating a pet may not be an option, but that is okay. We also offer users a chance to engage in telling stories or engaging in role plays on our forum. For the pet owners we offer several items from our shop to be used with your pet. These range from battle equipment to potions that can be purchased in the store.</p>
