<h1 class="pageheader">Maintenance Page</h1>
<br>
<p>I am sorry to report that the Duelingpets website is currently down due to an unexpected fatal error.
I am trying to isolate and repair this error and will get the server back up and running as soon as I
possibly can. Battiro is currently taking a little snooze and will awake from his roost when the server
is up and running again.</p>
