/* Code for my website standards */

/* The code below this point sets up the header of my website */
.headerbox
{
   max-width: 100%;
}

.backgroundbox
{
   max-width: 100%;
}

.forestbackground
{
   width: 100%;
   height: 150px;
}

.logo
{
  max-width: 100%;
  font-size: 24px;
  text-align:left;
  font-weight: bold;
}

.profilebar
{
   /*max-width: 100%;*/
   padding-right: 1%;
   text-align: right;
}

.navigation
{
   max-width: 100%;
   text-align: center;
   padding: 8px;
   background: #088A29;
   font-family: 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
   font-weight: bold; /*Looks better here*/
}

.navigation a
{
   text-decoration: none;
   color: #faac58;
   padding-left:5px;
   padding-top:6px;
   padding-bottom:6px;
   padding-right:5px;
}

.pagecontent
{
   background-color: #F2F5A9;
}

/* End of Header section */

/* Builds the lower pages */
.narrativecontainer
{
  max-width: 75%;
}

.pageheader
{
  font-size: 24px;
  text-align:center;
}

/* End of lower pages */

.limittext
{
 width: 300px;
padding-right:50px;
word-wrap:break-word;
}

.imagerules
{
   white-space: pre-wrap;
   max-width: 40%;
}

/* The Welcome page */
.welcome
{
  font-size: 24px;
  text-align:center;
}

.imagecenter
{
text-align:center;
}

/* End of Welcome page */

/* Builds the pets and monsters */
.petcontainer
{
   display: inline-block;
   margin-left: 75px;
}

.outer
{
   display: block;
}

.inner
{
   display: inline-block;
}

/* End of pets and monsters */

/* Builds the forum */
.forumheader
{
   font-size: 24px;
   font-weight: bold;
}

.narrative_pre
{
   white-space: pre-wrap;
}

.narrative_break
{
    word-wrap: break-word;
}
.narrative_text
{
  max-width: 500px;
  word-wrap: break-word;
}

/* End of the forum */

/*Header class, footer class, navigation bar class, drop down menus,*/
