<h1>Listing narratives</h1>

<table>
  <tr>
    <th>Subtopic id</th>
    <th>Narrative id</th>
    <th></th>
    <th></th>
  </tr>

<% @narratives.each do |narrative| %>
  <tr>
    <td><%= narrative.subtopic_id %></td>
    <td><%= narrative.id %></td>
    <td><%= button_to 'Edit', edit_subtopic_narrative_path(narrative.subtopic, narrative), method: :get %></td>
    <td><%= button_to 'Destroy', [narrative.subtopic, narrative], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
