<% @fights.each do |fight| %>
   <table>
      <tr>
         <td>battling monster: <%= link_to fight.pet.species_name, petowner_fight_path(fight.petowner, fight) %></td>
         <% if current_user && current_user.admin %>
            <td>&nbsp;with pet: <%= link_to fight.petowner.pet_name, user_petowner_path(fight.petowner.user, fight.petowner) %></td>
            <td><%= button_to 'Destroy', [fight.petowner, fight], method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
   </table>
<% end %>
