<h1 class="pageheader">
   <% if getOptional %>
      <%= @petowner.pet_name%>'s battles
   <% else %>
      Listing fights
   <% end %>
</h1>
<br>
<div class="pagebox"><%= paginate @fights %></div>
<br>
<%= render 'fightinfo' %>
