<h1>Listing subtopics</h1>

<table>
  <tr>
    <th>Maintopic id</th>
    <th>Subtopic id</th>
    <th></th>
    <th></th>
  </tr>

<% @subtopics.each do |subtopic| %>
  <tr>
    <td><%= subtopic.maintopic_id %></td>
    <td><%= subtopic.id %></td>
    <td><%= button_to 'Edit', edit_maintopic_subtopic_path(subtopic.maintopic, subtopic), method: :get %></td>
    <td><%= button_to 'Destroy', [subtopic.maintopic, subtopic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
