<h1 class="pageheader">Listing pouches</h1>
<br>
<div class="pagebox"><%= paginate @pouches %></div>
<br>
<table>
   <tr>
      <th>Amount</th>
      <th>User</th>
   </tr>
   <% @pouches.each do |pouch| %>
      <tr>
         <td><%= pouch.amount %></td>
         <td><%= pouch.user.vname %></td>
      </tr>
   <% end %>
</table>
