<h1 class="pageheader">Maintopics</h1>

<table>
   <tr>
      <th>TContainer id</th>
      <th>Maintopic id</th>
      <th></th>
      <th></th>
   </tr>
<% @maintopics.each do |maintopic| %>
  <tr>
    <td><%= maintopic.tcontainer_id %></td>
    <td><%= maintopic.id %></td>
    <td><%= button_to 'Edit', edit_tcontainer_maintopic_path(maintopic.tcontainer, maintopic), method: :get %></td>
    <td><%= button_to 'Destroy', [maintopic.tcontainer, maintopic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
