<h1 class="welcome">My Pets</h1>
<br>
<p>So that brings us to the close of this evening of events. *another audience member yells* Oh what was that? *repeats the question* Another member of the audience is wondering where do they see their pets that they purchased? Well those pets exist in the Mypets page which can be clicked by clicking the mypets link from the navigation bar. While you are there you will be able to see the status of your adopted pet which includes its experience, health, maxhealth, speed and various other stats. Oh yes there is also a picture of the pet because I heard that most of the users tend to be much more “visual thinkers”. *emphasizes visual by using hand expressions*</p>
<br>
<!--Checks to see if any pets are available -->
<%# if @count > 0 %>
   <!--Checks if the current user is signed in -->
   <% if !current_user.nil? %>
      <%#= form_tag(new_user_petowner_path(current_user), method: "get") do %>
         <%= render 'petownerinfo' %>
         <div class="outer"></div>
         <%#= submit_tag("Adopt Selected Pet") %>
      <%# end %>
   <% else %>
      <%= render 'petownerinfo' %>
   <% end %>
<%# end %>
